---
import css from "./Login.module.css";
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "@router/router";
import LoginForm from "./LoginForm/LoginForm";
---

<Layout title={ROUTER.login.display}>
  <main class={css.login}>
    <LoginForm client:load />
  </main>
</Layout>
